<div class="container">
  <div class="row">
    <div class='table-responsive'>
    <table class="table table-bordered">
      <thead class = "thead-dark">
        <tr>
          
              <th> Repo name </th>
              <th>Repo URL</th>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor = 'let repo of repos'>
          <td style = "cursor: pointer">{{ repo.name }}</td>
          <td><a href="{{repo.html_url}}" target="_blank">visit page</a></td>          
        </tr>
        
      </tbody>
    </table>
  </div>
  </div>
</div>